$colors: 'rose' 'pink' 'fuchsia' 'purple' 'violet' 'indigo' 'blue' 'sky' 'cyan' 'teal' 'emerald' 'green' 'lime' 'yellow'
  'amber' 'orange' 'red' 'gray';

$shades: 50 100 200 300 400 500 600 700 800 900;

$sizes: xs sm md lg xl;

// TODO - lock in to these:
// https://realtimecolors.com/?colors=21121f-f8f2f7-562e50-dbbdd6-85477a
//'text': '#21121f',
//'background': '#f8f2f7',
//'primary': '#562e50',
//'secondary': '#dbbdd6',
//'accent': '#85477a',
